<% var i = 0; %>
<h1><%= view.pathFromApp%></h1>
<ul>
  <% for(;i<5;i++){ %>
  <li>el valor es <%=i %></li>
  <% } %>
</ul>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-4">
      One of three columns
    </div>
    <div class="col-sm-1 col-4">
      One of three columns
    </div>
    <div class="col-sm-1 col-4">
      One of three columns
    </div>
  </div>
</div>
