<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/images/GitHub-brave-hed-796x418.jpg" width="30" height="30" alt="">
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="btn-group-vertical" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary"><i class="fas fa-user-circle"></i>Persona</button>
        <button type="button" class="btn btn-secondary">Cursos</button>
        <button type="button" class="btn btn-secondary">Bautismo</button>
      </div>

    </div>
    <div class="col-10">



<% var i = 0; %>
<h1><%= view.pathFromApp%></h1>
<ul>
  <% for(;i<5;i++){ %>
  <li>el valor es <%=i %></li>
  <% } %>
</ul>
    </div></div></div>
